@import "tailwindcss";

* {
  cursor: none !important;
}

@media (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}

*::selection {
  background: var(--accent);
  color: var(--accent-text);
}
